div#footer
  div.container.full-width
    div.row
      div.copy
        p <strong>Rockstars</strong> <small>a digital division from Enroute Systems</small><br/>Copyright &copy; #{new Date().getFullYear()} Enroute Systems Inc. All rights reserved.
      ul.menu
        li
          a(href="/blog")
            span Blog
        li
          a(href="/contact")
            span Contact
        li
          a(href="/about")
            span About
